:root{
    --c-blue: #2077a3;
    --c-main-white-blue:#438eb9;
    --c-footer:#ecf4fe;
    --c-main-white:white;
}
.sidebar-white-blue{
    background: var(--c-main-white-blue);
}
.main-link{
    color: var(--c-main-white);
    font-size: 28px;
    text-align: center;
    border-bottom: 1px solid var(--c-main-white);
}
.rm-level-3 .nav-link p {
    text-wrap: wrap;
}
.nav-item .nav-link{
    gap: 10px;
    color: var(--c-main-white);
}
.nav .nav-item .nav-link:hover{
    color: var(--c-main-white);
}
.name-rm-layout{
    text-wrap: nowrap;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.nav-sidebar .rm-group>.right, .nav-sidebar .rm-group>p>.right{
    top: .3rem;
}
.link-rm-layout{
    padding: 0px;
    padding-bottom: 5px;
    padding-left: 40px;
}
.rm-group{
    padding: 0px;
    padding-left: 15px;
    display: flex;
    list-style: none;
    align-items: center;

}
.elem-rm-group{
    font-size: 16px;
}
.rm-level-2, .rm-level-3{
    padding-left: 10px;
}
.rm-group-container{
    padding-bottom: 25px;
}
.btn-main i{
    font-size: 14px;
}
.btn-main{
    background: var(--c-main-white-blue);
    border: 1px solid var(--c-main-white-blue);
    color: var(--c-main-white);
    border-radius:3px;
    padding: 2px;
    display: flex;
    justify-content: center;
}
.btn-main:hover{
    color: white;
    cursor: pointer;
}
.cursor-pointer, .custom-control-label{
    cursor: pointer;
}
.nav-tabs{
    border-bottom:1px solid var(--c-main-white-blue);
}
.nav-tabs .nav-item .nav-link{
    color: black;
}
.nav-tabs .nav-item .nav-link:hover{
    color: black;
    border: 1px solid #f4f6f9;
    border-bottom:1px solid var(--c-main-white-blue);
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border:1px solid var(--c-main-white-blue);
    border-bottom: 1px solid #f4f6f9;
    color: black;
}
.nav-tabs .nav-link.active:hover{
    border:1px solid var(--c-main-white-blue);
    border-bottom: 1px solid #f4f6f9;
    color: black;
}
.nav-link{
    cursor: pointer;
}
.alert-main{
    background: rgba(17, 230, 61, 0.4);
    display: flex;
}
.btn-close{
    color: white;
    border: none;
    background: none;
    margin-left: auto;
}
.pointer{
    cursor: pointer;
}
.base-alert{
    display: flex;
    position: fixed;
    top: 30px;
    z-index: 99999;
    right: 30px;
}
.base-alert .alert{
    transition-duration:0.3s;
    transform: translate(530px, 0px);
}

.base-alert .alert-success, .base-alert .alert-danger{
    transform: translate(0px, 0px);
}
.btn-close-save-alert{
    margin-left: 10px;
    cursor: pointer;
}
.massage-save-alert{
    font-size: 18px;
}
.gap-5{
    gap: 20px;
}
.gap-4{
    gap: 15px;
}
.gap-3{
    gap: 10px;
}
.gap-2{
    gap: 5px;
}
.gap-1{
    gap: 2px;
}
.error{
    color: var(--danger);
    font-size: 12px;
}
.fixed-center{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(163, 163, 163, 30%);
    z-index: 99999999;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-group{
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: space-between;
}
.search-group input{
    width: 180px;
    height: 25px;
}
.search-group .selection{
    display: flex;
    justify-content: right;
}

.search-group .select2-container .select2-selection--multiple{
    width: 180px;
    height: 25px;
    min-height: 25px;
}
.search-group .select2-container--default .select2-selection--multiple .select2-selection__rendered{
    height: 25px;
    min-height: 25px;
    margin-top: 3px;
}
.search-group .select2-container--default .select2-selection--multiple .select2-selection__choice{
    font-size: 12px;
    margin: 0px;
}
.search-group .select2-container--open .select2-selection--multiple .select2-selection__choice,
.search-group .select2-container--below .select2-selection--multiple .select2-selection__choice{
    margin-right: 5px;
    margin-top: 5px;
}
.search-group .select2-dropdown{
    width: 180px;
}
.delete-panel-semesters {
    display: none;
}
.delete-panel-semesters {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    z-index: 99999;
    align-items: center;
    background: rgba(41, 41, 41, 0.34);
}
.semester-year-container{
    display: flex;
    background: var(--primary);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.semester-year {
    font-size: 18px;
    padding: 5px;
}
.semester-year, .btn-tool i{
    color: white;
}
.semester-date{
    font-size: 12px;
    color: gray;
    padding-left: 10px;
}

.semester-row{
    margin-bottom: 7px;
    padding-bottom: 3px;
    border-bottom: 1px solid #dcdcdc;
}
.description-settings{
    cursor: pointer;
    padding: 2px 7px;
    font-size: 12px;
    border-radius: 50%;
    color: white;
    background: var(--c-main-white-blue);
}
