version: '3.0'

services:

    nginx:
        image: nginx:latest
        volumes:
            - ./nginx/conf.d:/etc/nginx/conf.d
            - ../:/var/app/
        ports:
            - 80:80
        depends_on:
            -   app

    app:
        build:
            context: .
            dockerfile: App/Dockerfile
        volumes:
            - ../:/var/app/
        depends_on:
            - dataBase

    dataBase:
        image: postgres:latest
        environment:
            POSTGRES_DB: 'laravel'
            POSTGRES_USER: 'laravel'
            POSTGRES_PASSWORD: 'root'
        ports:
            - 5432:5432
        volumes:
            -   ../pgsql/data:/var/lib/postgresql/data

    pgadmin4:
        image: elestio/pgadmin:latest
        environment:
            PGADMIN_DEFAULT_EMAIL: 'fakysgg@gmail.com'
            PGADMIN_DEFAULT_PASSWORD: 'root'
        depends_on:
            - dataBase
        ports:
            - "5050:80"

    redis:
        image: redis:latest
        ports:
            - "6379:6379"
        environment:
            - REDIS_USERNAME=schedule
            - REDIS_USER_PASSWORD=root
            - REDIS_PASSWORD=root
            - REDIS_PORT=6379
        volumes:
            - ../redis:/data
            - ../redis.conf:/usr/local/etc/redis/redis.conf

    rabbitmq:
        image: rabbitmq:3.8
        depends_on:
            - app
        ports:
            - "5672:5672"
            - "15672:15672"
        volumes:
            - rabbitmq_data:/var/lib/rabbitmq
        environment:
            RABBITMQ_DEFAULT_USER: schedule
            RABBITMQ_DEFAULT_PASS: root

volumes:
    rabbitmq_data:
