#users_info_tabs .tabs-btn-icon, #edit_users_info_tabs .tabs-btn-icon{
    color: var(--c-blue);
}
#users_role_tabs .tabs-btn-icon, #edit_users_role_tabs .tabs-btn-icon{
    color:#198754FF;
}
#ban_users .tabs-btn-icon{
    color: #DC3545FF;
}
#activity_users .tabs-btn-icon{
    color: #FD7E14FF;
}
#massage_users .tabs-btn-icon{
    color: #6C757DFF;
}
