.schedule-name-group{
    font-size: 20px;
}
.container-header-schedule{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    background: var(--primary);
    padding: 0px 15px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: white;
}

.close-btn-schedule-menu {
    margin-left: auto;
}

.close-btn-schedule-menu i {
    color: white;
}

.schedule-pair-data-container {
    padding-left: 10px;
}
.schedule-pair-number{
    padding: 10px 18px;
    font-size: 20px;
    background: var(--secondary);
    color: white;
    border-radius: 10px;
}

.schedule-date{
    border-radius: 5px;
    background: var(--primary);
    color: white;
    padding: 10px;
    font-size: 20px;
}

.name-subject-container{
    font-size: 18px;
    display: flex;
    align-items: center;
}
.schedule-row{
    cursor: pointer;
    margin-bottom: 10px;
}
.schedule-row:hover {
    border-right: 1px solid var(--primary);
}
.schedule-pair-set{
    background: var(--primary);
}
.schedule-pair-number-ready {
    background: var(--success);
}
.schedule-pair-number-error {
    background: var(--danger);
}
.fio-teacher-schedule{
    font-size: 14px;
    color: #8e8e8e;
}
.btn-save-manager-container{
    display: flex;
    margin: 10px;
}
.btn-save-manager-container button {
    font-size: 18px;
    margin-left: auto;
}
