#student_groups_info .tabs-btn-icon, #edit_student_groups_info .tabs-btn-icon{
    color: var(--c-blue);
}
#student_groups_schedule .tabs-btn-icon, #edit_student_groups_schedule .tabs-btn-icon{
    color:#198754FF;
}
#student_groups_all_subjects .tabs-btn-icon{
    color: #FD7E14FF;
}
